.divGlowed {
    font-family: inherit;
    color: hsl(246, 55%, 36%);
    background-color: hsl(0, 100%, 95%);
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 1.25rem;
    margin: 0 auto;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    width: 50vw;
    height: 40vh;
}

.div-glow-container {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--container-offset)/-2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    opacity: 0;
    /* outline: 3px solid #00f; */
}

.div-glow-blur,
.div-glow-line {
    width: calc(100% - var(--container-offset) + var(--glow-offset));
    height: calc(100% - var(--container-offset) + var(--glow-offset));
    x: calc(var(--container-offset) / 2 - calc(var(--glow-offset)/2));
    y: calc(var(--container-offset) / 2 - calc(var(--glow-offset)/2));
    rx: 1.25rem; /*Pb avec Safari*/
    stroke: #000;
    stroke-width: 5px;
    fill: transparent;
    stroke-dasharray: var(--glow-line-length) calc(calc(100px / var(--number-of-glow)) - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.div-glow-line, .div-glow-blur) {
    stroke-dashoffset: var(--glow-dash-offset);
    transition:
        stroke-dashoffset var(--animation-speed) ease-out;
}
.div-glow-line {
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-width);
}
.div-glow-blur {
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-size);
    filter: blur(5px);
}

.glow-effect:is(:hover, :focus) .div-glow-container {
    animation: glow-visibility ease-in-out var(--animation-speed);
}

.divGlowed h1 {
    text-align: center;
    padding: 1rem 0;
    font-size: clamp(1rem, 2vw, 2.5rem);
}
.divGlowed .container {
    display: flex;
    gap: 1rem;
}

.divGlowed .container img {
    width: clamp(300px, 20vw, 400px);
    height: fit-content;
}

.divGlowed .container p {
    width: 25vw;
    text-align: justify;
    padding: 0 0 1rem 1rem;
    font-size: clamp(0.4rem, 1.2vw, 1.2rem);
    word-spacing: 5px;
    color: #8008a5;
}

.glow-effect[data-glow-number="one"] {
    --glow-line-length: 16px;
    --number-of-glow: 1;
    --glow-dash-offset: -23px;
    --animation-speed: 500ms;
    --glow-offset: 0px;
}